<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>
    <script src="../src/Thermostat.js"></script>
  </head>
  <body>
    <h1>Thermostat</h1>
    <div id="panel">
      <p id="temperature">Temperature</p>
      <p id="power-saving-mode">Power Saving Mode</p>
      <p id="status">Status</p>
    </div>
    <form id="buttons" action="/" method="get">
      <input type="submit" value="Up">
      <input type="submit" value="Down">
      <input type="submit" value="Toggle Power Saving Mode">
      <input type="submit" value="Reset">
    </form>
  </body>
</html>
