<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>
    <script src="../src/jquery.js"></script>
    <script src="../src/Thermostat.js"></script>
    <script src="../src/ui.js"></script>
  </head>
  <body>

    <h1>Thermostat</h1>
    <div id="panel">
      <p>Temperature: <span id="temperature"></span></p>
      <p>Power Saving Mode: <span id="power-saving-mode"></span></p>
      <p>Status: <span id="status"></span></p>
      <p>London Weather: <span id="weather"></span></p>

    </div>
    <form id="buttons">
      <input id="up" type="button" value="Up">
      <input id="down" type="button" value="Down">
      <input id="tpsm" type="button" value="Toggle Power Saving Mode">
      <input id="reset" type="button" value="Reset">
    </form>
    <script>
      
    </script>
  </body>
</html>
